<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/list.css">
    <title>Listado</title>
</head>
<body>

    <header id="inicio">

        <div class="filtros-mobile">

            <div class="seccion-actual">
                <p class="inicio-juguetes">Inicio  / </p>
                <p class="inicio-juguetes">Juguetes  / </p>
                <p class="funko-pop">Funko Pop</p>
            </div>

            <div class="filtrar">
                <img src="img/productos-list/filtrar.png" alt="filtrar" class="icono-de-filtro">
               
                


                <button  placeholder="    Filtrar">   Filtrar</button>
                <img src="img/productos-list/vector-der.png" alt="desplegable" class="flecha-filtrar">
            </div>

            <div class="ordenar">
                <select name="ordenar">
                    <option value="">Ordenar por</option>
                    <option value="precio">Precio</option>
                </select>
            </div>

        </div>




        <img src="img/banner_listado.png" alt="banner de listado" class="banner-mobile">

        <img src="img/banner_listado.png" alt="banner de listado" class="banner-pc">

    </header>

    <main>
        <div class="filtros">

            <div class="seccion-actual">
                <p class="inicio-juguetes-pc">Inicio / </p>
                <p class="inicio-juguetes-pc juguetes">Juguetes / </p>
                <p class="funko-pop-pc">Funko Pop</p>
            </div>

            <div class="filtrar-pc">
                
                <p>Filtrar </p>
                <img src="img/flecha-abajo.png" alt="flecha abajo">
                
            </div>

            <div class="ordenar-pc">
                <select name="ordenar">
                    <option value="">Ordenar por</option>
                    <option value="precio">Precio</option>
                </select>
            </div>

        </div>


    
        
       

        <section class="listado">

            
                <% productos.forEach(producto => { %>
                    
                <% let precioFinal = producto.price %>

                <% if (producto.discount > 0) { %>
                <%  precioFinal = (precioFinal - ((producto.discount*producto.price) / 100)).toFixed(3) %>
                <%  cuota = (precioFinal/6) %>

                %>
                <% } %> 

            <article class="producto">

                
                <img src="<%= producto.image %>" alt="funko" class="imagen-producto-lista">

                <% if(producto.discount > 0) { %> 
                <img src="img/descuento-10.png" alt="" class="imagen-descuento-lista">
                <p class="porcentaje-descuento-lista"><%= producto.discount %>%</p>
                <% } %> 
                <div class="texto-funko-listado">
                <p class="funko-titulo">Funko</p>
                <h4> <%= producto.name %> </h4>
                <p class="texto-gris">6 Cuotas s/interés del</p>
                <% if(producto.discount > 0) { %> 
                <p class="precio-cuotas">$<%= (precioFinal/6).toFixed(2) %></p>
                <% } else { %> 
                    <p class="precio-cuotas"><%=(precioFinal/6).toFixed(2)%></p>
                <% } %>    

                <div class="precio-final">
                    <p>Final: </p>
                    <p class="tachado">$<%= producto.price %></p>
                    <p class="precio-final-rojo">$<%= precioFinal %></p>

                    <% if (!producto.stock>0) { %>
                        <h5 class="articulo-sin-stock titulo-sin-stock">Artículo sin stock</h5>
                    <% } %>

                    
                    </div>
                    <% if (!producto.stock>0) { %>
                    <div class="articulo-sin-stock">
                
                        <a href="">Ver artículo</a>
                        </div>
                        <% } %>
                    
                <img src="img/cart-green.png" alt="carrito" class="carrito-producto-lista">
                </div>
            </article>
            <% }) %>

        </section>



        <a href="#inicio" class="subir">
            <img src="img/flecha-subir.png" alt="">
            <p>SUBIR</p>
        </a>


    </main>


    <footer>
    
        <div class="paginado">
            <img src="img/productos-list/flecha-izquierda.png" alt="flecha izquierda">
            <p>4</p>
            <p>5</p>
            <p class="pagina-actual">6</p>
            <p>7</p>
            <p>8</p>
            <img src="img/productos-list/flecha-derecha.png" alt="flecha derecha">
        </div>
    </footer>

</body>
</html>